# COMAP 2023 Wordle (Problem C) # 2316611

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing

In [63]:
DATA_FILE = '../data/Problem_C_Data_Wordle.xlsx'
df = pd.read_excel(DATA_FILE,header=1)
df.drop(columns=['Unnamed: 0'],inplace=True)
df.head()

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X)
0,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2
1,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1
2,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2
3,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1
4,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3

In [64]:
df.rename(columns={'Date':'date','Contest number':'contest_num','Word':'word','Number of reported results':'num_results','Number in hard mode':'num_hardmode','1 try':'in1','2 tries':'in2','3 tries':'in3','4 tries':'in4','5 tries':'in5','6 tries':'in6','7 or more tries (X)':'over6'},inplace=True)

In [65]:
df[~(df['word'].apply(len) == 5)]

,date,contest_num,word,Number of reported results,num_hardmode,in1,in2,in3,in4,in5,in6,over6
15,2022-12-16,545,rprobe,22853,2160,0,6,24,32,24,11,3
35,2022-11-26,525,clen,26381,2424,1,17,36,31,12,3,0
246,2022-04-29,314,tash,106652,7001,2,19,34,27,13,4,1
353,2022-01-12,207,favor,137586,3073,1,4,15,26,29,21,4

In [66]:
df.loc[15,'word'] = 'probe'
df.loc[35,'word'] = 'clean'
df.loc[246,'word'] = 'trash'
df.loc[353,'word'] = 'favor'

In [67]:
df['letter1'] = df.word.apply(lambda x: x[0])
df['letter2'] = df.word.apply(lambda x: x[1])
df['letter3'] = df.word.apply(lambda x: x[2])
df['letter4'] = df.word.apply(lambda x: x[3])
df['letter5'] = df.word.apply(lambda x: x[4])

In [69]:
X = df[['date','contest_num','word']]
# y3 = df['3 tries']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,y3,test_size=0.3,random_state=42)

In [70]:
# model=LinearRegression()
# model.fit(X_train,y_train)